
.alinhar {
    display: flex;
    flex-direction: row;

    font-family: 'Trirong', serif; 
    color: #4E342E; 
}

h1 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #4E342E; 
    font-family: 'Trocchi', serif; 
    font-weight: 600;
}

.etiqueta {
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 5px; 
    
    background: #F5EFE9; 
    color: #D37A3D; 
    border: 1px solid #BCAAA4; 

    width: auto; 
    height: auto; 
    margin: 5px 0px; 
    margin-left: 15px; 
    font-weight: bold;
}