body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Trirong', serif;
    background-color: #F5EFE9;
    color: #4E342E;
    line-height: 1.7;
    margin: 0;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background-color: #FFFFFF;
    padding: 40px 35px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    text-align: left;
    border: 4px dashed #BDB7A9;
    background-image: linear-gradient(180deg, #fffcf9 0%, #ffffff 100%);
}

.card h1 {
    font-size: 2.2em;
    font-family: 'Trocchi', serif;
    color: #4E342E;
    margin: 0 0 15px 0;
    text-align: center;
}

.card p {
    color: #5D4037;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1em;
    text-align: center;
}

.card label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #5D4037;
    font-size: 1.1em;
}

.card input {
    width: calc(100% - 28px);
    padding: 14px;
    margin-bottom: 25px;
    border: 2px solid #BCAAA4;
    border-radius: 5px;
    font-size: 1.05em;
    background-color: #F5EFE9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    transition: border-color 0.3s;
}

.card input:focus {
    border-color: #8D6E63;
    outline: none;
}


.card button {
    width: 100%;
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
}


.card button[type="submit"] {
    background-color: #D37A3D;
    color: white;
}

.card button[type="submit"]:hover {
    background-color: #B46433;
    transform: translateY(-3px);
}

.card .link-voltar {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #8D6E63;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.2s;
    font-weight: 600;
}

.card .link-voltar:hover {
    color: #D37A3D;
    text-decoration: underline;
}